<!DOCTYPE html>
<html>
<head>
    <title>Telecom Churn Predictor</title>
 </head>
<body>
        <h2>Welcome to the App</h2>
        <h3>Enter customer info</h3>
        <form action = "{{ url_for('churnclassify') }}" method="POST">
            <table border="1" style="border-color:gray; border-collapse:collapse;" cellpadding="5" cellspacing="5">
                <tr>
                    <td><h4>SeniorCitizen</h4>
                        <select name = "SeniorCitizen">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </td>
                    <td><h4>tenure</h4>                          
                    <input type="number" name="tenure" min="0" max="100" > </td>
                    <td><h4>gender_Male</h4> 
                        <select name = "gender_Male">
                            <option value="0">Female</option>
                            <option value="1">Male</option>
                        </select>
                    </td>
                    <td><h4>Dependents_Yes</h4>
                        <select name = "Dependents_Yes">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </td>   
                </tr>
            </table>
            <!-- <input type="hidden" id="forminput" name="forminput"  >    -->        
            <p><input type="submit" value="Will the customer churn?"></p>
             {% if (results) %} 
             <h3> Customer prediction: {{ results }}  </h3>

             {% endif %} 
        </form>
</body>
</html>